{
	"branches": [
		"master",
		"production"
	],
	"plugins": [
		[
			"@semantic-release/commit-analyzer",
			{
				"releaseRules": [
					{
						"type": "docs",
						"release": "patch"
					},
					{
						"type": "refactor",
						"release": "patch"
					},
					{
						"type": "style",
						"release": "patch"
					},
					{
						"type": "chore",
						"release": "patch"
					},
					{
						"type": "perf",
						"release": "patch"
					},
					{
						"type": "test",
						"release": "patch"
					}
				]
			}
		]
	]
}
