name: drone_scanner
description: >
  Multi-platform mobile application for receiving Remote ID information
  broadcasted by nearby UAVs, compatible with ASTM F3411, ASD-STAN prEN
  4709-002 standards
repository: https://github.com/dronetag/drone-scanner
issue_tracker: https://github.com/dronetag/drone-scanner/issues
version: 0.2.0

publish_to: none
environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ^3.0.4

dependencies:
  flutter:
    sdk: flutter
  flutter_opendroneid:
    path: ../flutter-opendroneid
  sprintf: "^6.0.0"
  flutter_google_places_hoc081098: 1.1.0
  google_api_headers: ^1.1.1
  google_maps_webservice: ^0.0.20-nullsafety.5
  google_maps_flutter: ^2.1.1
  sliding_up_panel: ^2.0.0+1
  location: ^4.2.0
  http: ^0.13.4
  permission_handler: ^9.2.0
  flutter_spinbox: ^0.8.0
  path_provider: ^2.0.9
  showcaseview: ^1.1.7
  shared_preferences: ^2.0.13
  device_info_plus: ^3.2.2
  f_logs: ^2.0.0 
  timer_builder: ^2.0.0
  csv: ^5.0.1
  app_settings: ^4.1.3
  share_plus: ^4.0.3
  flutter_bloc: ^8.0.1
  package_info: ^2.0.2
  localstorage: ^4.0.0+1

dev_dependencies:
  dependency_validator: ^3.0.0
  pedantic: ^1.11.0

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/config/
    - assets/google_maps/
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  fonts:
    - family: TitilliumWeb
      fonts:
        - asset: assets/fonts/TitilliumWeb-Black.ttf
        - asset: assets/fonts/TitilliumWeb-Bold.ttf
        - asset: assets/fonts/TitilliumWeb-Italic.ttf
        - asset: assets/fonts/TitilliumWeb-Light.ttf
        - asset: assets/fonts/TitilliumWeb-Regular.ttf
        - asset: assets/fonts/TitilliumWeb-SemiBold.ttf
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700
    - family:  DroneScannerIcon
      fonts:
        - asset: assets/fonts/DroneScannerIcon.ttf
          weight: 700
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
